/*
 * MAIN SECTIONS
 */

#chart {
	width: 100%;
}

#graphics, #filter {
	display: inline;
	border: 0;
	
}

#graphics {
	float: left;
	width: 80%;
}

#filter {
	float: right;
	width: 20%;
}

/*
 * TYPOGRAPHY
 */

body {
	font-family: "Lato", "Arial", sans-serif;
	background-color: #D4F1FE;
	margin: 0;
}

.title {
	font-family: "Lato", "Arial", sans-serif;
	font-weight: 700;
	font-size: 40px;
}

h2, h3, h4 {
	font-family: "Lato", "Arial", sans-serif;
	font-weight: 700;
}

h2 {
	margin-top: 10px;
	margin-bottom: 8px;
	font-size: 18px;
	letter-spacing: 0.4px;
}

h3 {
	margin: 0;
	font-size: 18px;
}

h4 {
	margin: 0;
	font-size: 16px;
}

p {
	font-size: 11px;
}

/*
 * VISUALIZATION
 */

.node {
  stroke: #fff;
  stroke-width: 1.5px;
}

.node:hover {
	cursor: pointer;
}

.link {
  stroke: #999;
  stroke-opacity: .6;
}

div.infoBox {   
 	font-size: 15px;      
 	color: #FFFFFF;  
  	background-color: #89B0AE;
	border: 0px;      
	border-radius: 5px;     
	position: absolute; 
	opacity: 0;
	visibility: hidden;                 
	padding: 15px;
	max-width: 10%;          
	pointer-events: none;         
}

ul {
	margin: 0;
	padding-left: 15px;
}

/*
 * FILTER
 */
#filter {
	
}

.button {
	font-family: "Arial", sans-serif;
	text-align: center;
	font-size: 12px;
	text-transform: uppercase;
	border: none;
	border-radius: 5px 5px 5px 5px;
	outline: none;
	color: rgb(0, 0, 0);
	background-color: rgb(255,255,255);
	padding-top: 10px;
	padding-bottom: 10px;
	position: relative;
	cursor: pointer;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
	box-shadow: 0 4px rgb(0, 0, 0);
}

.button:after {
	content: '';
	position: absolute;
	z-index: -1;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.button:hover {
	top: 2px;
}

.button:active {
	box-shadow: 0 0 rgb(0, 0, 0);
	top: 5px;
}

#filter svg {
	vertical-align: middle;
	width: 25%;
}

.centersvg {
}

#filter .btnGroup {
	display: inline-block;
	vertical-align: middle;
}

#streamFilter svg {
	display: inline-block;
}

.streamBtnContainer {
	width: 70%;
}

.streamBtnContainer button {
	margin-bottom: 8px;
}

#credFilter button {
	width: 45px;
}
#cred1 {
	/*#FEE5D9;*/
	box-shadow: 0 4px rgb(254, 229, 217);
}
#cred2 {
	/*#FCAE91;*/
	box-shadow: 0 4px rgb(252, 174, 145);
}
#cred3 {
	/*#FB6A4A;*/
	box-shadow: 0 4px rgb(251, 106, 74);
}
#cred4 {
	/*#B85450;*/
	box-shadow: 0 4px rgb(184, 84, 80);
}

#lecFilter button,
#labfilter button {
	width: 35px;
}

#lec1 {
	/*#F2F0F7;*/
	box-shadow: 0 4px rgb(242, 240, 247);
}
#lec2 {
	/*#CBC9E2;*/
	box-shadow: 0 4px rgb(203, 201, 226);
}
#lec3 {
	/*#9E9AC8;*/
	box-shadow: 0 4px rgb(158, 154, 200);
}
#lec4 {
	/*#756BB1;*/
	box-shadow: 0 4px rgb(117, 107, 177);
}
#lec5 {
	/*#54278F;*/
	box-shadow: 0 4px rgb(84, 39, 143);
}

#lab1 {
	/*#FEEBE2;*/
	box-shadow: 0 4px rgb(254, 235, 226);
}
#lab2 {
	/*#FBB4B9;*/
	box-shadow: 0 4px rgb(251, 180, 185);
}
#lab3 {
	/*#F768A1;*/
	box-shadow: 0 4px rgb(247, 101, 161);
}
#lab4 {
	/*#C51B8A;*/
	box-shadow: 0 4px rgb(197, 27, 138);
}
#lab5 {
	/*#7A0177;*/
	box-shadow: 0 4px rgb(122, 1, 119);
}